.root{
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-background: gray;
}
.label
{
    -fx-text-fill: rgb(153, 76, 0);
}

.text-area
{
    -fx-border-color: lightgrey;
}

.text-area .content
{
    -fx-background-color: lightgrey;
}

.button
{
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
        -fx-background-radius: 30;
        -fx-background-insets: 0,1,1;
        -fx-text-fill: black;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.menu-bar
{
    -fx-background-color: lightgrey;
}

.menu .label
{
    -fx-text-fill: rgb(61, 68, 78);
}

.text-input
{
    -fx-background-color: lightgrey;
}